<h2><%= @sacagaweas unless @sacagaweas == 0 %></h2>
<h2><%= @sacagawea_plural unless @sacagaweas == 0 %></h2>
<h2><%= @half_dollars unless @half_dollars == 0 %></h2>
<h2><%= @half_dollar_plural unless @half_dollars == 0  %></h2>
<h2><%= @quarters unless @quarters == 0 %></h2>
<h2><%= @quarter_plural unless @quarters == 0 %></h2>
<h2><%= @dimes unless @dimes == 0  %></h2>
<h2><%= @dime_plural unless @dimes == 0  %></h2>
<h2><%= @nickles unless @nickles == 0  %></h2>
<h2><%= @nickle_plural unless @nickles == 0 %></h2>
<h2><%= @pennies unless @pennies == 0 %></h2>
<h2><%= @penny_plural unless @pennies == 0 %></h2>
