<div class = "col-md-2">
  <p class="numerals"><%= @sacagaweas unless @sacagaweas == 0 %></p>
  <p class="names"><%= @sacagawea_plural unless @sacagaweas == 0 %></p>
</div>
<div class = "col-md-2">
  <p class="numerals"><%= @half_dollars unless @half_dollars == 0 %></p>
  <p class="names"><%= @half_dollar_plural unless @half_dollars == 0  %></p>
</div>
<div class = "col-md-2">
  <p class="numerals"><%= @quarters unless @quarters == 0 %></p>
  <p class="names"><%= @quarter_plural unless @quarters == 0 %></p>
</div>
<div class = "col-md-2">
  <p class="numerals"><%= @dimes unless @dimes == 0  %></p>
  <p class="names"><%= @dime_plural unless @dimes == 0  %></p>
</div>
<div class = "col-md-2">
  <p class="numerals"><%= @nickles unless @nickles == 0  %></p>
  <p class="names"><%= @nickle_plural unless @nickles == 0 %></p>
</div>
<div class = "col-md-2">
  <p class="numerals"><%= @pennies unless @pennies == 0 || @pennies > 99999999 %></p>
  <p class="names"><%= @pennies unless @pennies == 0 || @pennies < 99999999 %></p>
  <p class="names"><%= @penny_plural unless @pennies == 0 %></p>
</div>
